In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/edmundoarias/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Load Data: Chile

In [2]:
chileFX = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Chile/ChileFX.xlsx')
chileTPM = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Chile/ChileTPM.xlsx')
chileBonds = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Chile/ChileBonds.xlsx')
chileSpread = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Chile/ChileSpread.xlsx')

In [3]:
# Merge these time series by 'fecha'
chile = pd.merge(chileFX, chileTPM, on='fecha')

In [4]:
chile['fecha'] = pd.to_datetime(chile['fecha'])
chileBonds['fecha'] = pd.to_datetime(chileBonds['fecha'])
chile = pd.merge(chile, chileBonds, on='fecha', how='left')

/var/folders/4q/634d8_qs2qdd58rzydjvszzm0000gn/T/ipykernel_72870/365221827.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  chileBonds['fecha'] = pd.to_datetime(chileBonds['fecha'])

In [5]:
# Merge the previous time series with the spread (spread has a monthly frequency while the other variables are daily, so make spread repeat its values every day and only change monthly)
chileSpread['fecha'] = pd.to_datetime(chileSpread['fecha'])
chileSpread = chileSpread.set_index('fecha').resample('D').ffill().reset_index()
chile = pd.merge(chile, chileSpread, on='fecha', how='left')

In [6]:
# Clean: rename columns
chile.columns = ['fecha', 'FX', 'TPM', 'Bonds', 'Spread']

# Create a new column called "ctr_name" with the name of the country: Chile
chile['ctr_name'] = 'Chile'
chile

          fecha      FX   TPM  Bonds  Spread ctr_name
0    2010-01-04  507.10  0.50    NaN   108.0    Chile
1    2010-01-05  505.70  0.50    NaN   108.0    Chile
2    2010-01-06  504.22  0.50    NaN   108.0    Chile
3    2010-01-07  497.93  0.50    NaN   108.0    Chile
4    2010-01-08  494.54  0.50    NaN   108.0    Chile
...         ...     ...   ...    ...     ...      ...
3616 2019-12-26  751.04  1.75   2.46     NaN    Chile
3617 2019-12-27  746.66  1.75   2.40     NaN    Chile
3618 2019-12-28     NaN   NaN    NaN     NaN    Chile
3619 2019-12-29     NaN   NaN    NaN     NaN    Chile
3620 2019-12-30  744.62  1.75   2.38     NaN    Chile

[3621 rows x 6 columns]

### Merge w/ country codes

In [7]:
id = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/ctr_id.xlsx')

In [8]:
# Merge ctr_id with the 'chile' dataframe
chile = pd.merge(chile, id, on='ctr_name')

## Load Data: Norway

In [9]:
norwayFX = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Norway/NorwayFX.xlsx')
norwayBonds = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Norway/NorwayBonds.xlsx')
norwayTPM = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Norway/NorwayTPM.xlsx')

In [10]:
# Merge bonds & FX
norwayFX['fecha'] = pd.to_datetime(norwayFX['fecha'])
norwayBonds['fecha'] = pd.to_datetime(norwayBonds['fecha'])
norway = pd.merge(norwayFX, norwayBonds, on='fecha', how='left')

In [11]:
# Merge TPM
norwayTPM['fecha'] = pd.to_datetime(norwayTPM['fecha'])
norway = pd.merge(norway, norwayTPM, on='fecha', how='left')

In [12]:
# Clean: rename columns
norway.columns = ['fecha', 'FX', 'Bonds', 'TPM']

# Create a new column called "ctr_name" with the name of the country: Norway
norway['ctr_name'] = 'Norway'
norway

          fecha      FX  Bonds   TPM ctr_name
0    2010-01-04  5.7190  4.180  1.75   Norway
1    2010-01-05  5.6862  4.160  1.75   Norway
2    2010-01-06  5.7059  4.137  1.75   Norway
3    2010-01-07  5.7313  4.128  1.75   Norway
4    2010-01-08  5.7237  4.089  1.75   Norway
...         ...     ...    ...   ...      ...
2510 2019-12-20  8.9631  1.525  1.50   Norway
2511 2019-12-23  8.9508  1.509  1.50   Norway
2512 2019-12-27  8.8387  1.528  1.50   Norway
2513 2019-12-30  8.7997  1.576  1.50   Norway
2514 2019-12-31  8.7803    NaN  1.50   Norway

[2515 rows x 5 columns]

In [13]:
# Merge ctr_id with the 'norway' dataframe
norway = pd.merge(norway, id, on='ctr_name')

In [14]:
# Merge Chile and Norway based on the 'fecha' column
df = pd.concat([chile, norway])

## Load Data: Canada

In [15]:
canadaFX = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Canada/CanadaFX.xlsx')
canadaCDS = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Canada/CanadaCDS.xlsx')
canadaTPM = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Canada/CanadaTPM.xlsx')

In [16]:
# Merge bonds & FX
canadaFX['fecha'] = pd.to_datetime(canadaFX['fecha'])
canadaCDS['fecha'] = pd.to_datetime(canadaCDS['fecha'])
canada = pd.merge(canadaFX, canadaCDS, on='fecha', how='left')

In [17]:
# Merge TPM
canadaTPM['fecha'] = pd.to_datetime(canadaTPM['fecha'])
canada = pd.merge(canada, canadaTPM, on='fecha', how='left')

In [18]:
# Clean: rename columns
canada.columns = ['fecha', 'FX', 'Bonds', 'TPM']

# Create a new column called "ctr_name" with the name of the country: Canada
canada['ctr_name'] = 'Canada'
canada

          fecha      FX  Bonds   TPM ctr_name
0    2010-01-04  1.0414    NaN   NaN   Canada
1    2010-01-05  1.0390    NaN   NaN   Canada
2    2010-01-06  1.0325    NaN   NaN   Canada
3    2010-01-07  1.0350    NaN   NaN   Canada
4    2010-01-08  1.0309    NaN   NaN   Canada
...         ...     ...    ...   ...      ...
2329 2019-12-23  1.3160    NaN  1.75   Canada
2330 2019-12-24  1.3157    NaN  1.75   Canada
2331 2019-12-27  1.3078    NaN  1.75   Canada
2332 2019-12-30  1.3059    NaN  1.75   Canada
2333 2019-12-31  1.2988    NaN  1.75   Canada

[2334 rows x 5 columns]

In [19]:
# Merge ctr_id with the 'norway' dataframe
canada = pd.merge(canada, id, on='ctr_name')

In [20]:
# Merge canada with the df dataframe
df = pd.concat([df, canada])

# Load Data: Uruguay

In [21]:
uruguayFX = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Uruguay/UruguayFX.xlsx')
uruguayTPM = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Uruguay/UruguayTPM.xlsx')

In [22]:
# Merge bonds & FX
uruguayFX['fecha'] = pd.to_datetime(uruguayFX['fecha'], format='%d.%m.%Y')
uruguayTPM['fecha'] = pd.to_datetime(uruguayTPM['fecha'])
uruguay = pd.merge(uruguayFX, uruguayTPM, on='fecha', how='left')

In [23]:
# Clean: rename columns
uruguay.columns = ['fecha', 'FX', 'TPM']

# Create a new column called "ctr_name" with the name of the country: Canada
uruguay['ctr_name'] = 'Uruguay'
uruguay

          fecha      FX   TPM ctr_name
0    2020-01-01  373100   NaN  Uruguay
1    2019-12-31  373100   NaN  Uruguay
2    2019-12-30  371300   NaN  Uruguay
3    2019-12-27  369900   NaN  Uruguay
4    2019-12-26  369600   NaN  Uruguay
...         ...     ...   ...      ...
2604 2010-01-07  195500  6.25  Uruguay
2605 2010-01-06  195500   NaN  Uruguay
2606 2010-01-05  195500  6.25  Uruguay
2607 2010-01-04  195500  6.25  Uruguay
2608 2010-01-01  195500   NaN  Uruguay

[2609 rows x 4 columns]

In [24]:
# Merge ctr_id with the 'norway' dataframe
uruguay = pd.merge(uruguay, id, on='ctr_name')

In [25]:
# Merge canada with the df dataframe
df = pd.concat([df, uruguay])

## Import other variables: VIX & FED Rate

In [26]:
vix = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/vix.xlsx')
fed = pd.read_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/FedRate.xlsx')

In [27]:
# Convert fecha into time format 
vix['fecha'] = pd.to_datetime(vix['fecha'])
fed['fecha'] = pd.to_datetime(fed['fecha'])

In [28]:
# merge onto df
df = pd.merge(df, vix, on='fecha', how='left')
df = pd.merge(df, fed, on='fecha', how='left')

In [29]:
# Export to excel
df.to_excel('/Users/edmundoarias/Documents/Uniandes/2024-10/HE 2/FX-Intervention/8._Extension Final/2._ProcessedData/Panel_v1.xlsx', index=False)